﻿@model JobMatchCanditate.Models.JobCandidateViewModel



<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title">@Model.JobId - @Model.Company - @Model.Position</h4>
    </div>

    <div class="modal-body">

        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Skills</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Candidates)
                    {
                        <tr>
                            <td>@item.Rank</td>
                            <td>@item.CandidateName</td>
                            <td>
                                <ul>
                                    @foreach (var skill in item.CandidateSkills)
                                    {
                                        if (skill.IsJobSkillMatched)
                                        {
                                            <li style="background-color:beige">
                                                @skill.Name
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                @skill.Name
                                            </li>
                                        }

                                    }
                                </ul>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>
