﻿@model IEnumerable<JobMatchCanditate.Models.JobViewModel>

@{
    ViewBag.Title = "Jobs";
}
<div class="row">

    <div class="col-lg-12" style="padding-top:20px">
        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Job Id</th>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Skills</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.JobId</td>
                            <td>@item.Name</td>
                            <td>@item.Company</td>
                            <td>@item.Skills</td>
                            <td><button class="btn btn-primary view-candidate" data-job-id="@item.JobId">View Candidates</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="candidate-modal" class="modal fade" role="dialog">
    <div class="modal-dialog ui-front">
        <div class="modal-content">
            <div id="canditate-container">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/job/job.js"></script>
